
*.docx
*.dtsx
*.ini
*.zip
*.doc
*.params
*.xml
*.dtproj
*.database
*.user
*.sln
*.suo
*.ispac
*.conmgr
*.dqs
*.xlsx
*.pkg
*.asdatabase
*.dsv
*.ds
*.deploymentoptions
*.deploymenttargets
*.dwproj
*.dmm
*.configsettings
*.pdb
*.dll
*.cache
*.snk
*.csproj
*.txt
*.dtsConfig
*.erwin
*.rar
Notebook/FieldsAlexanderNotebook/FieldsAlexanderDataWarehouse/insertNewUser.sql
Notebook/FieldsAlexanderNotebook/FieldsAlexanderDataWarehouse/changingPasswords.sql
*.csv
